<div class="content-wrapper">
<div class="row">
    <div class="col-md-5">
    </div> 
        <div class="panel panel-info">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../../assets/avatar.png" class="img-circle img-responsive"> </div>
    
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>First name:</td>
                      <td>{{firstName}}</td> 
                    </tr>
                    <tr>
                      <td>Last name:</td>
                      <td>{{lastName}}</td>
                    </tr>
                    <tr>
                      <td>National ID</td>
                      <td>{{nationalId}}</td>
                    </tr>
                 
                    <tr>
                      <td>Phone Number</td>
                      <td>{{phoneNumber}}</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><a>{{email}}</a></td>
                    </tr>
                   
                  </tbody>
                </table>             
                <a routerLink ="/customer/Dashboard" class="btn btn-primary">Go back</a>
              </div>
            </div>
          </div>
               <div class="panel-footer">
    
                  </div>
          </div>
        </div>
    </div>