@charset "utf-8";
/* CSS Document */

.skin-blue .main-header .logo {
  padding-top: 15px;
  background-color: #fff;
}
.skin-blue .main-header .logo:hover {
  background-color: #fff;
}
.main-header .logo .logo-lg {
  margin: 0 auto;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #35444f;
}
.main-header .logo .logo-lg {
  margin: 14px auto 0 auto;
}
.main-sidebar, .left-side {
  top: 25px;
}
.fixed .content-wrapper, .fixed .right-side {
  padding-top: 75px;
  background: #fff;
}
.main-header .logo {
  height: 75px !important;
}
.main-header .sidebar-toggle {
  margin-top: 11px;
  color:#666 !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
  color: #666;
  opacity: 0.7;
}
.main-header .navbar-custom-menu, .main-header .navbar-right {
  top: 12px;
  position: relative;
}
.navbar-custom-menu ul li a {
  color: #666 !important;
}
.skin-blue .main-header .navbar {
  background-color: #ebecff;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
  border-radius: 25px !important;
  width: 255px !important;
}
.bg-green, .callout.callout-success,  .modal-success .modal-body {
  border-radius: 25px;
  width: 250px;
}
.bg-yellow, .callout.callout-warning,  .modal-warning .modal-body {
  border-radius: 25px;
  width: 250px;
}
.bg-red, .callout.callout-danger,  .modal-danger .modal-body {
   border-radius: 25px;
  width: 250px;
}
.box {
  background: whitesmoke;
  border-top: 3px solid #3f51b5;
}
.box-footer {
  border-top: 1px solid #3f51b5;
  background-color: #3f51b5;
}
.content-wrapper, .right-side {
  background-color: white;
}
.skin-blue .main-header .navbar {
  background-color: white;
}
.box-header {
  color: black;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
  font-size: 24px;
}
body {
  color: black;
}
button, input, optgroup, select, textarea {
  color: #3f51b5;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #3f51b5;
}
.skin-blue .sidebar-menu>li.header {
  color: white;
  background: 3f51b5;
}
.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.box {
  color: black;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
  background-color: #367fa9;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
  background: #367fa9;
}