<div class="content-wrapper">
    <hr>
      <!-- Content Header (Page header) -->
      <section  class="content-header">
        <h1 align= "center">
          <strong>User Management</strong>
        </h1>
        
      </section>
      <hr>
   
      <!-- Main content -->
      <section class="content">
  
    <!--Mailbox Div-->
       <div class="row"> 
          <div class="col-md-4">
            <form method="post">
              <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="/CustomerManagement">Customers</button>
            </form>
      
          </div>
            <div class="col-md-4">
                <form method="post">
                  <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="/AgentManagement">Agents</button>
                </form>
          
              </div>
              <div class="col-md-4" *ngIf="isSbAdmin">
                  <form method="post">
                    <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="/sbadmin/SbSupervisors">Steward Bank Supervisors</button>
                  </form>
            
                </div>
        </div>
  
      </section>
  
  
    </div>
  
  
  