<div class="content-wrapper">
  <hr>
    <!-- Content Header (Page header) -->
    <section align="center" class="content-header">
      <h1>
        <strong>Location Management</strong>
      </h1>
  
    </section>
    <hr>
    <!-- Main content -->
    <section class="content"> 
  
  <!--Mailbox Div-->
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        <button type="button" name="addColPoint" id="addColPoint" class="btn btn-primary btn-block margin-bottom" routerLink="/agent/regCustomer">Register Customer</button>
      </form>
  
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12">
        <form method="post">
          <button type="button" name="addColPoint" id="addColPoint" class="btn btn-primary btn-block margin-bottom" routerLink="/agent/regVehicle">Add Vehicle</button>
        </form>
    
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
          <form method="post">
            <button type="button" name="addColPoint" id="addColPoint" class="btn btn-primary btn-block margin-bottom" routerLink="/agent/addClaim">Submit Customer Claim</button>
          </form>
      
        </div>
      </div>
    </section>
  
  
  </div>
  
  
  