<div class="content-wrapper">
  <br>
    <section class="content">
      <app-message></app-message>
    <div class="box">
        <div class="box-header with-border" align= "center">
            <h3 class="box-title" ><b>Get iDriveSure</b></h3> 
        </div>
      <div class="box-body"> 
        <div class="box-title"><h1>Insurance</h1></div>
        <hr>
                    <div *ngIf="isCustomer" class="form-group col-md-6 text-center">
                        <label for="email">Select Vehicle</label>
                        <select [(ngModel)]="vehicle" class="form-control" name="Vehicle" required>
                            <option *ngFor="let vehicle of vehicleNames" [value]="vehicle.vehicleRegistrationNumber">{{vehicle.vehicleRegistrationNumber}}</option>
                          </select>
                    </div>

                    <div class="form-group col-md-6 text-center">
                        <label class="">Select Insurance Company</label>
                        <select [(ngModel)]="insuranceCompanySelect" class="form-control" name="insuranceCompanySelect" required>
          
                        <option *ngFor="let company of companies" [value]="company.code">{{company.name}}</option>
                    </select>
                      </div>
                      <div class="form-group col-md-6 text-center">
                                <label class="">Insurance Type</label>
                                <select id="insuranceTypeSelect" [(ngModel)]="insuranceTypeSelect" name="insuranceTypeSelect" (change)="setInsType()"class="select2 form-control" style="width: 100%;" >
                                  <option value="0" selected="selected"  style="display: none;">Choose Type of Cover</option>
                        <option value="RTA">Road Traffic Act (3rd Party)</option>
                                  <option value="COMP">Comprehensive</option>
                                  <option value="COMPPLUS">Comprehensive Plus</option>
                                </select>
                        </div>
                      
                            <div class="form-group col-md-6">				
                                    <label>Insurance Period</label>
                                    <select [(ngModel)]="insurancePeriodSelect"  id="insurancePeriodSelect" name="insurancePeriodSelect" class="select2 form-control" style="width: 100%;" >
                              <option value="0"selected="selected"  style="display: none;">Choose Period of Cover</option>
                              <option value="4"><b>4 Months</b></option>
                              <option value="5">5 Months</option>
                              <option value="6">6 Months</option>
                              <option value="7">7 Months</option>
                              <option value="8">8 Months</option>
                              <option value="9">9 Months</option>
                              <option value="10">10 Months</option>
                              <option value="11">11 Months</option>
                              <option value="12">12 Months</option>
                                    </select>
                                  </div>        
                                  <div *ngIf="isAgent" class="form-group col-md-6 text-center">
                                    <label for="email">Vehicle Registration Number</label> <br>
                                    {{vehicleRegistrationNumber1}}
                                </div>
              
                                <div *ngIf="isAgent" class="form-group col-md-6 text-center">
                                  <label for="email">Customer National I.D</label>
                                  <input [(ngModel)] = "customerId" class="form-control" type="text" name="customerId" required>
                              </div>
                              <div *ngIf="isComprehensive" id="vehicleValue" class="form-group col-md-6">
                                <label class="">Enter Vehicle Value</label>
                                 <input [(ngModel)]="vehicleValue" class="form-control" type="number" name="vehicleValue" id="vehicleValue" value="0">
                              </div>
       <br> 
       <br>
       <br>
       <br>
      </div>

      <div class="box-body"> 
          <div class="box-title"><h1>ZINARA & ZBC</h1></div>
          <hr>
           <div class="form-group col-md-6">				
                    <label>ZBC Licence Period</label>
                      <select  id="zbcPeriodSelect" [(ngModel)]="zbcPeriodSelect" name="zbcPeriodSelect" class="select2 form-control" style="width: 100%;" >
                        <option value="0"selected="selected"  style="display: none;">Choose Period of Cover</option>
                        <option value="4"><b>4 Months</b></option>
                        <option value="5">5 Months</option>
                        <option value="6">6 Months</option>
                        <option value="7">7 Months</option>
                        <option value="8">8 Months</option>
                        <option value="9">9 Months</option>
                        <option value="10">10 Months</option>
                        <option value="11">11 Months</option>
                        <option value="12">12 Months</option>
                      </select>
                    </div>        
            <div class="form-group col-md-6">				
                    <label>ZInARA Licence Period</label>
                    <select  id="zinaraPeriodSelect" [(ngModel)]="zinaraPeriodSelect" name="zinaraPeriodSelect" class="select2 form-control" style="width: 100%;" >
                      <option value="0" selected="selected"  style="display: none;">Choose Period of Cover</option>
                      <option value="4"><b>4 Months</b></option>
                      <option value="5">5 Months</option>
                      <option value="6">6 Months</option>
                      <option value="7">7 Months</option>
                      <option value="8">8 Months</option>
                      <option value="9">9 Months</option>
                      <option value="10">10 Months</option>
                      <option value="11">11 Months</option>
                      <option value="12">12 Months</option>
                    </select>
                  </div>
                  <div class="form-group col-md-12" *ngIf="isCustomer">

                    <label for="email">Use Preffered or new Delivery and Collection Point </label>
                    <select [(ngModel)]="changeStatePN" class="form-control" name="changeState" (change)="changeStatuPN()" required>
                        <option selected  style="display: none;" >Select Option</option>
                        <option value="P">Preffered Delivery or Collection</option>
                        <option value="N">New Delivery or Collection</option>
                      </select>
                </div>   
      </div>
      <div class="box-body" *ngIf="isPreffered && prefData">
          <div class="form-group col-md-12">
              <label for="email">Preffered Collection or Delivery </label>
              <select [(ngModel)]="changeStatePre" class="form-control" name="changeState" (change)="changeStatusPreffered()" required>
                  <option selected  style="display: none;" >Select Option</option>
                  <option value="PD">Preffered Delivery Address</option>
                  <option value="PC">Preffered Collection</option>
                </select>
          </div> 
          <br>
          
          <div *ngIf="isPrefD" class="card">
              <div class="card-body">
                  <h4 class="card-title">Preffered Address</h4>
                  <p class="card-text">Your Disk will be delivered at : {{myAddress}}</p>
              </div>
              <div class="card-footer">Thank you for choosing iDriveSure</div>
          </div>

          <div *ngIf="isPrefC" class="card">
              <div class="card-header">Preffered Collection Point</div>
              <div class="card-body">Your Disk will be ready for collection at : {{myCollectionPoint}}</div>
              <div class="card-footer">Thank you for choosing iDriveSure</div>
          </div>
      </div>

      <div class="box-body" *ngIf="isNew || isAgent"> 
          <div class="box-title" align= "left"><h4><strong> Collection/ Delivery</strong></h4></div>
          <hr>    


          <div class="form-group col-md-12">
              <label for="email">Collection or Delivery </label>
              <select [(ngModel)]="changeState" class="form-control" name="changeState" (change)="changeStatus()" required>
                  <option selected  style="display: none;" >Select Option</option>
                  <option value="D">Delivery</option>
                  <option value="C">Collection</option>
                </select>
          </div>        
     
          <div *ngIf="isCollection || isDelivery" class="form-group col-md-4">
              <label for="email">Region</label>
              <select [(ngModel)]="selectedValue" class="form-control" name="region" (change)="onEditClick()" required>
                  <option selected  style="display: none;" >Select Region</option>
                  <option *ngFor="let reg of allRegionNames" [value]="reg.id">{{reg.name}}</option>
                </select>
          </div>
          <div *ngIf="isCollection || isDelivery" class="form-group col-md-4">
              <label for="email">Sub-Region</label>
              <select [(ngModel)]="selectedReg" class="form-control" name="subRegion" (change)="getColPoints()" required>
                  <option selected  style="display: none;" >Select Sub-Region</option>
                  <option  *ngFor="let subReg of allSubRegions" [value]="subReg.id">{{subReg.name}}</option>
                </select>
          </div>
          <div *ngIf="isCollection" class="form-group col-md-4">
              <label for="email">Collection Point</label>
              <select [(ngModel)]="selectedCol" class="form-control" name="colPoint"required>
                  <option selected  style="display: none;" >Select Collection-Point</option>
                  <option  *ngFor="let col of allColPoints" [value]="col.id">{{col.name}}</option>
                </select>
          </div>




          <div *ngIf="isDelivery" class="form-group col-md-4">
              <label for="email">Suburb</label>
              <select [(ngModel)]="selectedSurb" class="form-control" name="suburb" required>
                  <option selected  style="display: none;" >Select Suburb</option>
                  <option  *ngFor="let sub of allSuburbs" [value]="sub.id">{{sub.name}}</option>
                </select>
          </div>

          <div *ngIf="isDelivery" class="form-group col-md-4">
              <div class="form-group">
                  <label for="comment">Enter Address:</label>
                  <textarea class="form-control" rows="5" id="comment" [(ngModel)]="delAddress"></textarea>
                </div>
          </div>
      
          <div *ngIf="isCollection" class="form-group col-md-6">
              <label>Number to Recieve ECONET Airtime</label>
                    <input [(ngModel)] = "airtimeNumber" class="form-control" type="number" name="airtimeNumber" required>
          </div>
      </div>

      <!-- /.box-body -->
      <div class="box-footer" align = "center">
        <button type="submit" class="btn btn-primary" (click)="getIdrive()">Generate Quotation</button>
        <button class="btn btn-warning" aria-hidden="true" routerLink ="/customer/myVehicles"> Cancel</button>
      </div>
      </div>
    </section> 
    </div>

   
    
    <hr>

    <swal
    #successSwal
    title="Success"
    text="Quotation successfully generated press ok to continue ."
    type="success"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
  <swal
    #failedSwal
    title="Failed"
    text="An error occured while processing your request"
    type="warning"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>

 

