<div class="login-box">
  <div class="login-logo">
    
    <img src="../../../assets/img/logo2.png">
  </div>
  <div class="login-box-body">
      <app-message></app-message>
    <p class="login-box-msg">Sign in to start your session</p>

      <div class="form-group has-feedback">
        <input type="text" class="form-control" [(ngModel)]="username" placeholder="Phone number">
        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
      </div>
      <br>
      <div class="form-group has-feedback">
        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
        </div>
      </div>
    </div>

    <a class="a" routerLink="/forgotPassword">I forgot my password</a>
    <br>
    <a routerLink="/register" class="text-center">Register</a>

  </div>
<app-loading *ngIf="loading.loading"></app-loading>
<swal
#successSwal
title="Success"
text="Successfully Registered Region"
type="success"
[showCancelButton]="false"
[focusCancel]="false">
</swal>
<swal
#failedSwal
title="Failed"
text="An error occured while processing your request"
type="warning"
[showCancelButton]="false"
[focusCancel]="false">
</swal>

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' 
    });
  });
</script>
