<div class="content-wrapper">
  <hr>
    <!-- Content Header (Page header) -->
    <section align="center" class="content-header">
      <h1>
        <strong>Claims</strong>
      </h1>
  
    </section>
    <hr>
    <!-- Main content -->
    <section class="content"> 
  
  <!--Mailbox Div-->
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        <button type="button" name="addVehicle" id="addVehicle" class="btn btn-primary btn-block margin-bottom" routerLink="/customer/submitmyClaim">Submit Claim</button>
      </form>
  
    </div>
  </div>
    <br>
    <div class="row">
        <div class="col-md-12">
          <form method="post">
            <button type="button" name="addColPoint" id="addColPoint" class="btn btn-primary btn-block margin-bottom" routerLink="/customer/viewMyClaims">My Claims</button>
          </form>
      
        </div>
      </div>
    </section>
  
  
  </div>
  
  
  