<div class="content-wrapper">
  <hr>
    <!-- Content Header (Page header) -->
    <section align= "center" class="content-header">
      <h1>
        <strong>User Management</strong>
      </h1>

    </section>
    <hr>

    <!-- Main content -->
    <section class="content">

  <!--Mailbox Div-->
  <div class="row">
      <div class="col-md-12">
        <form method="post">
          <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="/registerUser">Add User</button>
        </form>
  
      </div>
    </div>
     <div class="row">
        <div class="col-md-6">
          <form method="post">
            <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="/viewCustomers">View Customers</button>
          </form>
    
        </div>
          <div class="col-md-6">
            <form method="post">
              <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="/viewAgents">View Agents</button>
            </form>
      
          </div>
      </div>

    </section>


  </div>


