
  <div class="content-wrapper">
      <br>
        <section align= "center" class="content">
          <app-message></app-message>
        <div class="box">
        <div class="box-header with-border">
          <br>
          <h3 class="box-title"><b>ADD VEHICLE</b></h3> 
        </div>
        <hr>
        <!-- /.box-header -->
        <!-- form start -->
          <div class="box-body"> 
              <div class="input-group col-md-offset-1 col-md-10">
                  <span class="input-group-addon"><b>Vehicle Reg Number&emsp;&emsp;&emsp;&emsp;</b></span>
                  <input type="text" [(ngModel)]= "regVRN" name="regVRN" id="regVRN" class="form-control" style="text-transform: uppercase">                
                  <span class="input-group-addon"><i class="fa fa-bus"></i></span>
                </div>
                <br>
                <div class="input-group col-md-offset-1 col-md-10">
                    <span class="input-group-addon"><b>Confirm Vehicle Reg Number</b></span>
                    <input type="text" [(ngModel)]= "confirmRegVRN" name="confirmRegVRN" id="confirmRegVRN" class="form-control"style="text-transform: uppercase">                
                    <span class="input-group-addon"><i class="fa fa-bus"></i></span>
                  </div>
          </div>
          </div>
          <!-- /.box-body -->
    
          <div class="box-footer">
            <button *ngIf="isNew" type="submit" class="btn btn-primary" (click)="postNewVehicle()">Submit For Verification</button>
            <button *ngIf="!isNew" type="submit" class="btn btn-primary" (click)="postVehicle()">Submit</button>
            <button class="btn btn-warning" aria-hidden="true" routerLink ="/customer/myVehicles"> Cancel</button>
          </div>
        </section>
        <swal 
        #successSwal
        title="Success"
        text="Vehicle Submitted. Registration will be complete afer Verification."
        type="success"
        [showCancelButton]="false"
        [focusCancel]="false">
      </swal>
      <swal
        #failedSwal
        title="Failed"
        text="An error occured while processing your request"
        type="warning"
        [showCancelButton]="false"

        [focusCancel]="false">
      </swal>
      <swal
      #failedEq
      title="Failed"
      text="An error occured while processing your request"
      type="warning"
      [showCancelButton]="false"
      [focusCancel]="false">
    </swal>
    <swal
    #failedAgentReg
    title="Failed"
    text="Vehicle Not Found"
    type="warning"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
    
    
    
    