<div class="content-wrapper">
  <br>
    <section align= "center" class="content">
    <div class="box">
    <div class="box-header with-border">
      <br>
      <h3 class="box-title"><b>ADD COLLECTION POINT</b></h3>
    </div>
    <hr>
    <!-- /.box-header -->
    <!-- form start -->
      <div class="box-body">
        <div class="form-group col-md-6">
          <label for="colName">Collection Point Name</label>
          <input type="text" class="form-control" id="colName" [(ngModel)]="colName" name="colName" placeholder="Collection Point Name"required>
        </div>
        <div class="form-group col-md-6">
          <label for="Address">Address</label>
          <input type="text" class="form-control" id="Address" [(ngModel)]="Address" name="Address" placeholder="Address"required>
        </div>
        <div class="form-group col-md-6">
          <label for="Code">Code</label>
          <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" placeholder="code"required>
        </div>
        <div class="form-group col-md-6">
          <label for="Address">Contact Person</label>
          <input type="text" class="form-control" id="contactDetails" [(ngModel)]="contactDetails" name="contactDetails" placeholder="contactDetails"required>
        </div>
        <div class="form-group col-md-6">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Phone"required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Enter email" required>
        </div>
        <!-- <div class="form-group col-md-6">
          <label for="Address">Latitude</label>
          <input type="text" class="form-control" id="latitude" [(ngModel)]="latitude" name="latitude" placeholder="latitude"required>
        </div>
        <div class="form-group col-md-6">
          <label for="Address">Longitude</label>
          <input type="text" class="form-control" id="longitude" [(ngModel)]="longitude" name="longitude" placeholder="longitude"required>
        </div> -->
        <div class="form-group col-md-6">
            <label for="email">Region</label>
            <select [(ngModel)]="selectedValue" class="form-control" name="region" (change)="onEditClick()" required>
                <option selected  style="display: none;" >Select Region</option>
                <option *ngFor="let reg of allRegionNames" [value]="reg.id">{{reg.name}}</option>
              </select>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Sub-Region</label>
            <select [(ngModel)]="selectedReg" class="form-control" name="subRegion" required>
                <option selected  style="display: none;" >Select Sub-Region</option>
                <option  *ngFor="let reg of allSubRegions" [value]="reg.id">{{reg.name}}</option>
              </select>
        </div>
      </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary" (click)="postColPoint()">Submit</button>
        <button class="btn btn-warning" aria-hidden="true" routerLink ="/admin/locations/collectionPoints"> Cancel</button>
      </div>
    </section>
    <swal
    #successSwal
    title="Success"
    text="Successfully Registered Collection Point"
    type="success"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
  <swal
    #failedSwal
    title="Failed"
    text="An error occured while processing your request"
    type="warning"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>

