
<div class="content-wrapper"><br><br><br><br>
  <section class="input-group col-md-offset-1 col-md-10" >
  <div class="box col-md-4" >
  <div align="center" class="box-header with-border">
    <h3 class="box-title"><b>iDriveSure Account Pin Reset</b></h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
    <div class="box-body">
        <div class="row">
      <div class="input-group col-md-offset-1 col-md-10">
        <label for="email">Enter email address</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email">
      </div>

    </div>
    </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer" align="center">
      <button (click)="resetPassword()" type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-warning" aria-hidden="true" routerLink ="/login"> Cancel</button>
    </div>
  </section>
  <swal
  #successSwal
  title="Success"
  text="Pin reset successful, please check you email."
  type="success"
  [showCancelButton]="false"
  [focusCancel]="false">
</swal>
<swal
  #failedSwal
  title="Failed"
  text="An error occured while processing your request"
  type="warning"
  [showCancelButton]="false"
  [focusCancel]="false">
</swal>

<script>
 $(document).ready(function() {
  $('.formselect').select2();
});
</script>