<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section  class="content-header">
     
        <h1 align= "center">
           <strong>Verified Vehicles</strong>
         </h1>
         <p><button align="left" class="btn btn-warning" routerLink ="/vehicles">Back to Vehicle Management</button></p> 
       </section>
    <!-- Main content -->
    <section class="content">
 <hr>
   
  <!--general-->
  <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover" id="monthlyTable" cellspacing="0">
          <thead>
          <tr>
            <th>Vehicle Make</th>
            <th>Vehicle Model</th>
            <th>Vehicle Reg Number</th>
            <th>Ownership</th>
            <th>Usage</th>
            <th>Expiring Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.vehicleMake}}</td>
            <td>{{vehicle.vehicleModel}}</td>
            <td>{{vehicle.vehicleRegistrationNumber}}</td>
            <td>{{vehicle.vehicleOwnership}}</td>
            <td>{{vehicle.vehicleUsage}}</td>
            <td>{{vehicle.insuranceExpiryDate}}</td>
            <!-- <button class="btn btn-primary btn-block margin-bottom" type="button" name="verifVehicle" routerLink="/viewVehicle">View</button> -->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </section>
  
  
  </div>
  
  
  
