<div class="content-wrapper">
    <hr>
      <!-- Content Header (Page header) -->
      <section align= "center" class="content-header">
        <h1>
          <strong>Pricing Schemes Management</strong>
        </h1>
  
      </section>
      <hr>
  
      <!-- Main content -->
      <section class="content">
  
    <!--Mailbox Div-->
    <div class="row">
        <div class="col-md-6">
          <form method="post">
            <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="InsurancePricingScheme">Insurance Pricing Scheme </button>
          </form>
      </div>
          <div class="col-md-6">
            <form method="post">
              <button name="addUser" id="addUser" class="btn btn-primary btn-block margin-bottom" routerLink="ZinaraPricingScheme">Zinara Pricing Scheme</button>
            </form>
      
          </div>
        </div>
  
      </section>
  
  
    </div>
  
  
  