<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section align="center" class="content-header">
      <h1>
        <strong>Sub-Region Management</strong>
      </h1>
  
    </section>
    <p><button align="left" class="btn btn-warning" routerLink ="/locations">Back to Location Management</button></p> 
    <hr>
    <!-- Main content -->
    <section class="content">
  
  <!--Mailbox Div-->
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        <button type="button" name="addRegion" id="addRegion" class="btn btn-primary btn-block margin-bottom" routerLink="/addSubRegions">Add Sub-Region</button>
      </form>
  
    </div>
  </div>
  <div class="box">

      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover" id="" cellspacing="0">
          <thead>
          <tr>
            <th>Region </th>
            <th>Sub-Region ID</th>
            <th>Sub-Region Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Harare</td>
            <td>CBD</td>
            <td>CBD</td>
            <button type="submit" routerLinkActive="active" name="subRegions"><a routerLink="/subRegions"></a>View</button>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </section>
  
  
  </div>
  
  
  