<div class="content-wrapper">
  <br>
    <section class="content" align= "center">
    <div class="box">
    <div class="box-header with-border">
      <br>
      <h3 class="box-title"><b>ADD PRODUCT/SERVICE</b></h3>
    </div>
    <hr>
    <!-- /.box-header -->
    <!-- form start -->
      <div class="box-body">
        <div class="form-group col-md-4">
          <label for="firstName">Product / Service Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
          <label for="Address">Product / Service Description </label>
          <input type="text" class="form-control" id="Address" placeholder="Address">
        </div>
        <div class="form-group col-md-4">
            <label for="type">Type</label>
            <select class="form-control" name="type" required>
                <option selected  style="display: none;" >Select Type</option>
                <option value="Active">Category 1 </option>
                <option value="Deactive">Category 2</option>
              </select>
        </div>
      </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-warning" aria-hidden="true" routerLink ="/Products"> Cancel</button>
      </div>
    </section>


