<div class="content-wrapper">
  <hr>
    <!-- Content Header (Page header) -->
    <section align="center" class="content-header">
      <h1>
        <strong>Products Management</strong>
      </h1>
    </section>
<hr>
    <!-- Main content -->
    <section class="content">

  <!--Mailbox Div-->
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        <button type="button" name="Products" id="Products" class="btn btn-primary btn-block margin-bottom" routerLink="/addProduct">Add New Product</button>
      </form>

    </div>
  </div>
  <!--general-->
  <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover" id="" cellspacing="0">
          <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Test</td>
            <td>Test</td>
            <button type="submit" routerLinkActive="active" name="viewProduct"><a routerLink="/"></a>View</button>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </section>
  </div>




