<div class="content-wrapper">
  <hr>
    <!-- Content Header (Page header) -->
    <section  class="content-header">
      <h1 align="center">
        <strong>Claims Management</strong>
      </h1>
    </section>
<hr>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
              <form method="post">
                <button name="closedClaims" id="closedClaims" class="btn btn-primary btn-block margin-bottom" routerLink="/closedClaims">Closed Claims</button>
              </form>
        
            </div>
              <div class="col-md-6">
                <form method="post">
                  <button name="closedClaims" id="closedClaims" class="btn btn-primary btn-block margin-bottom" routerLink="/openClaims">Open Claims</button>
                </form>
          
              </div>
            </div>

 
  <swal
  #successSwal
  title="Success"
  text="Successfully Updated Claim"
  type="success"
  [showCancelButton]="false"
  [focusCancel]="false">
</swal>
<swal
  #failedSwal
  title="Failed"
  text="An error occured while processing your request"
  type="warning"
  [showCancelButton]="false"
  [focusCancel]="false">
</swal>




