<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section align="center" class="content-header">
    <h1>
      <strong>Collection Points Management</strong>
    </h1>
  </section>
  <p><button align="left" class="btn btn-warning" routerLink ="/locations">Back to Location Management</button></p> 
  <hr>
  <!-- Main content -->
  <section class="content">

<!--Mailbox Div-->
<div class="row">
  <div class="col-md-12">
    <form method="post">
      <button type="button" name="addColPoint" id="addColPoint" class="btn btn-primary btn-block margin-bottom" routerLink="/addColPoint">Add Collection Point</button>
    </form>

  </div>
</div>
<!--general-->
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-hover" id="" cellspacing="0">
        <thead>
        <tr>
          <th>Colletion Point  ID</th>
          <th>Collection Point Name</th>
          <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <button type="submit" routerLinkActive="active" name="verifyVehicle"><a routerLink="/verifyVehicle"></a>View</button>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </section>


</div>


