<div class="content-wrapper">
    <section class="content col-md-10">
    <div class="box col-md-4" >
    <div align="center" class="box-header with-border">
      <h3 class="box-title"><b>Insurance Company: {{InsComp.name}}</b></h3>
    </div>
    <!-- /.box-header --> 
    <!-- form start -->
      <div class="box-body" >
          <div class="row">
        <br>
        <div class="form-group col-md-12">
          <label for="code">code</label> <input type="text">
        </div>
        <br>
        <div class="form-group col-md-12">
          <label for="address">address</label><input type="text">
        </div>
        <div class="form-group col-md-12">
          <label for="contact">contact</label><input type="text">
        </div>
        <div class="form-group col-md-12">
          <label for="email">email</label><input type="text">
        </div>
        <div class="form-group col-md-12">
          <label for="description">description</label><input type="text">
        </div>
        <div class="form-group col-md-12">
          <label for="type">type</label><input type="text">
        </div>
      </div>
      </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer" align="center">
        <button class="btn btn-warning" aria-hidden="true" routerLink ="/verifiedVehicles"> Close</button>
      </div>
    </section>



 