<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Get Idrive
      <small>Begin Purchase</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">GetIdrive</li>
    </ol>
  </section>
<div class="box box-default" >
  <div class="box-body  col-md-7">
    <form method="post" action="quotation.php">




      <input type="hidden" id="collectionType">
      <div class="row" *ngIf="session.isAdmin() || session.isAgent()">
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-4 text-center">
          <label class="">Enter VRN</label>
          <input class="form-control" type="text" name="userVRN" value="" style="text-transform: uppercase">
        </div>
        <div class="form-group col-md-4 text-center">
          <label class="">Enter Customer ID</label>
          <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" value="" style="text-transform: uppercase">
        </div>

        <div class="form-group col-md-2">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-4 text-center">
          <label class="">Select Insurance Company</label>
          <select class="select2 form-control " name="selectInsuranceCompany" id="selectInsuranceCompany"  tabindex="1" required>
            <option value="0"selected="selected"  style="display: none;">Select Insurance Company</option>
            <option value="EcosureAuto"><b>Ecosure Auto</b></option>

          </select>
        </div>
        <div class="form-group col-md-4 text-center">
          <label>Insurance Period</label>
          <select  id="insurancePeriodSelect" name="insurancePeriodSelect" class="select2 form-control" style="width: 100%;" >
            <option value="0"selected="selected"  style="display: none;">Choose Period of Cover</option>
            <option value="4"><b>4 Months</b></option>
            <option value="5">5 Months</option>
            <option value="6">6 Months</option>
            <option value="7">7 Months</option>
            <option value="8">8 Months</option>
            <option value="9">9 Months</option>
            <option value="10">10 Months</option>
            <option value="11">11 Months</option>
            <option value="12">12 Months</option>
          </select>
        </div>
        <div class="form-group col-md-4">
        </div>
      </div>



      <div class="row">
        <div class="form-group col-md-1 text-center">
        </div>
        <div class="form-group col-md-4 text-center">
          <label class="">Insurance Type</label>
          <select id="insuranceTypeSelect" name="insuranceTypeSelect" class="select form-control" style="width: 100%;" >
            <option value="0" selected="selected"  style="display: none;">Choose Type of Cover</option>
            <option value="RTA">Road Traffic Act (3rd Party)</option>
            <option value="COMP">Comprehensive</option>
            <option value="COMPPLUS">Comprehensive Plus</option>
          </select>
        </div>
        <div id="vehicleValueDiv" style="display: none;" class="form-group col-md-4 text-center">
          <label class="">Enter Value</label>
          <input  class="form-control" type="number" name="vehicleValueFiled" id="vehicleValueFiled" value="0">
        </div>
        <div class="form-group col-md-4">
        </div>
      </div>


      <div class="row">
        <div class="form-group col-md-1 text-center">
        </div>
        <div class="form-group col-md-4 ">
          <label>ZINARA Licence?</label>
          <p><div class="TriSea-technologies-Switch pull-left">
          <input id="zinaraToggle" name="TriSea1" type="checkbox"/>
          <label for="zinaraToggle" class="label-primary"></label>
        </div>
        </div>

        <div id="zinaraPeriodDiv" class="form-group col-md-4" style="display:none">
          <label>Licence Period</label>
          <select  id="zinaraPeriodSelect" name="zinaraPeriodSelect" class="select2 form-control" style="width: 100%;" >
            <option value="0" selected="selected"  style="display: none;">Choose Period of Cover</option>
            <option value="4"><b>4 Months</b></option>
            <option value="6">6 Months</option>
            <option value="8">8 Months</option>
            <option value="10">10 Months</option>
            <option value="12">12 Months</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-1 text-center">
        </div>
        <div class="form-group col-md-4 ">
          <label>ZBC Licence?</label>
          <p><div class="TriSea-technologies-Switch pull-left">
          <input id="zbcToggle" name="TriSea1" type="checkbox"/>
          <label for="zbcToggle" class="label-warning"></label>
        </div>
        </div>

        <div id="zbcPeriodDiv" class="form-group col-md-4" style="display:none">
          <label>Licence Period</label>
          <select id="zbcPeriodSelect" name="zbcPeriodSelect" class="select2 form-control" style="width: 100%">
            <option value="0" selected="selected"  style="display: none;">Choose Period of Cover</option>
            <option value="4"><b>4 Months</b></option>
            <option value="5">5 Months</option>
            <option value="6">6 Months</option>
            <option value="7">7 Months</option>
            <option value="8">8 Months</option>
            <option value="9">9 Months</option>
            <option value="10">10 Months</option>
            <option value="11">11 Months</option>
            <option value="12">12 Months</option>
          </select>
        </div>
        <div class="form-group col-md-2">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-1 text-center">
        </div>
        <div class="form-group col-md-4 ">
          <label>Pick Up Disk...</label>
          <p><div class="TriSea-technologies-Switch pull-left">
          <input id="pickUpToggle" name="TriSea1" type="checkbox"/>
          <label for="pickUpToggle" class="label-info"></label>
        </div>
        </div>

        <div id="pickUpPointDiv" class="form-group col-md-4" style="display:none">
          <label>Select Region</label>
          <select id="selectRegion" name="selectRegion" onChange="getSubRegions(this.value)" class="select2 form-control" style="width: 100%;" >
          </select>
          <div id="subRegions">
            <label>Select SubRegion</label>
            <select  id="SelectCity" name="SelectCity" class="select2 form-control" style="width: 100%;" >
              <option value="NA" selected="selected"  style="display: none;">Select SubRegion</option>
            </select>
          </div>
          <div id="collectionPoint">
            <label>Select Collection Point</label>
            <select  id="SelectSuburb" name="SelectSuburb" class="select2 form-control" style="width: 100%;" >
              <option value="NA" selected="selected"  style="display: none;">Select Collection Point</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-1 text-center">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-1 text-center">
        </div>
        <div class="form-group col-md-4 ">
          <label>Delivery...</label>
          <p><div class="TriSea-technologies-Switch pull-left">
          <input id="deliveryToggle" name="TriSea1" type="checkbox"/>
          <label for="deliveryToggle" class="label-danger"></label>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
