<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <hr>
    <section class="content-header"align="center">
      <h1><b>iDriveSure</b>      
        <small>Control panel</small>
      </h1>
    </section>
  <hr> 
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.</h3>
  
              <p>Vehicles</p>
            </div>
            <div class="icon">
              <i class="ion ion-truck"></i>
            </div>
            <a class="small-box-footer"routerLink = "/customer/myVehicles">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.<sup style="font-size: 20px"></sup></h3>
  
              <p>Get iDriveSure</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a class="small-box-footer"routerLink = "/customer/getIdrive" >More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.</h3>
  
              <p>Transactions</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a routerLink ="/customer/myTransactions" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.</h3>
  
              <p>Profile</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a  routerLink = "/customer/profile" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
  
    </section>
    <!-- /.content -->
  </div>
  