
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-md-6">
          <form method="post">
            <button type="button" name="addVehicle" id="addVehicle" class="btn btn-primary btn-block margin-bottom" (click)="isTransactions()">View Transactions</button>
          </form>
      </div>
      <div class="col-md-6">
          <form method="post">
            <button type="button" name="addVehicle" id="addVehicle" class="btn btn-primary btn-block margin-bottom" (click)="isQuotations()">Quotations</button>
          </form>
      </div>
    </div>
    <h1 align= "center" *ngIf="isTransaction">
      <strong>Transactions</strong>
    </h1>
    <h1 align= "center" *ngIf="isQuotation">
        <strong>Quotations </strong>
      </h1>
   <!-- <p><button align="left" class="btn btn-warning" routerLink ="/admin/userManagement">Back to User Managemnt</button></p>    -->
  </section>
  
  <hr>

  <!-- Main content -->
  <section class="content">
<div class="box" *ngIf="isTransaction">
  <table class="table table-hover " id="transactions" cellspacing="0">
    <thead> 
    <tr>
      <th>Date</th>
      <th>VRN</th>
      <th>Insurance Type</th>
      <th>ZBC Period</th>
      <th>Insurance Period</th>
      <th>Zinara Period</th>
      <th>Grand Total</th>
      <th>Transaction Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{transaction.updatedAt}}</td>      
      <td>{{transaction.vehicleRegistrationNumber}}</td>
      <td>{{transaction.insuranceType}}</td>
      <td>{{transaction.zbcPeriod}}</td>
      <td>{{transaction.insurancePeriod}}</td>
      <td>{{transaction.zinaraPeriod}}</td>
      <td>{{transaction.grandTotal}}</td>
      <td>{{transaction.transactionStatus}}</td>
      <!-- <td><button (click)="getCustomer()" class="btn btn-primary btn-block margin-bottom">view</button></td> -->
    </tr>
    </tbody>
  </table>

</div>

<!--Quotation Table-->
<div class="box" *ngIf="isQuotation">
    <table class="table table-hover " id="transactions" cellspacing="0">
      <thead> 
      <tr>
        <th>Zinara Arears</th>
        <th>Insurance Premium</th>
        <th>Premium Due</th>
        <th>Delivery Fee</th>
        <th>ZBC Premium</th>
        <th>Zinara Premium</th>
        <th>Grand Total</th>
        <th>Make Payment</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let quotation of quotations">     
        <td>{{quotation.zinaraArrears}}</td>
        <td>{{quotation.insurancePremium}}</td>
        <td>{{quotation.premiumDue}}</td>
        <td>{{quotation.deliveryFee}}</td>
        <td>{{quotation.zbcPremium}}</td>
        <td>{{quotation.zinaraPremium}}</td>
        <td>{{quotation.grandTotal}}</td>
        <td><button (click)="buyInsurance(quotation)" class="btn btn-primary btn-block margin-bottom">Buy</button></td>
      </tr>
      </tbody>
    </table>
  
  </div>
  </section>


</div>

<!-- <script> 
$(document).ready(function() {
  $('#customers').DataTable(
    {
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    }
  );
} );
</script> -->

