					<!--manage vehicle-->
              <div class="content-wrapper">
                    <section class="content">
                        <div align="center" class="box">
                            <div class="box-header">
                              <br>
                              <h3 class="box-title"><b>Vehicle VRN: <strong>{{vehicleVRN}}</strong></b></h3>
                        </div>
                        <br>
                        <hr>
              <div class="box-body"> 
                  <div class="row">
                  <div class="form-group col-md-4">
                    <label>Vehicle Make</label>
                    <input class="form-control" type="text" id="vMake" [(ngModel)]="vMake" name="vMake" placeholder="Vehicle make" required>
                    </div>
                  <div class="form-group col-md-4">
                    <label>Vehicle Model</label>
                    <input class="form-control" type="text" id="vModel" [(ngModel)]="vModel" name="vModel" placeholder="Vehicle model" required>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Vehicle Type</label>
                    <select class="form-control" id="vType" [(ngModel)]="vType" name="vType"required>
                      <option selected  style="display: none;" >choose type</option>

                      <option value="Private">Private </option>
                      <option value="Commercial">Commercial</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Vehicle Usage</label>
                    <select class="form-control" id="vUsage" [(ngModel)]="vUsage" name="vUsage" required>
                      <option selected  style="display: none;" >choose usage</option>

                      <option value="Private">Private</option>
                      <option value="Commercial">Commercial</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Insurance Expiry</label>
                    <input class="form-control" type="date" required id="InsExp" [(ngModel)]="InsExp" name="InsExp">
                    </div>
                    <div class="form-group col-md-4">
                    <label>Licencing Tax Class</label>
                    <select class="form-control" id="licTaxClass" [(ngModel)]="licTaxClass" name ="licTaxClass" required>
                      <option selected  style="display: none;">Licencing Tax Class</option>
                      <option><a href="#"></a></option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Licencing Expiry</label>
                    <input class="form-control" type="date" required id="licExp" [(ngModel)]="licExp" name="licExp">
                    </div>
                    <div class="form-group col-md-4">
                    <label>Licencing Arrears</label>
                    <input class="form-control" type="number" id="licArreas" [(ngModel)]="licArreas" name="licArreas" placeholder="Licencing areas" required>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Insurance Tax Class</label>
                    <select class="form-control" id="insTaxClass" [(ngModel)]="insTaxClass" name="insTaxClass" required>
                      <option selected  style="display: none;">Licencing Tax Class</option>
                      <option><a href="#"></a></option>
                    </select>
                    </div>
                      </div>
                  <div class="row">
                  <div class="box-footer"  align="center">
                  <button style="align-content: space-between" name="VerifyVehicleBtn" class="btn btn-primary" (click)="saveVehicle()">Verify & Update</button>
                  <button class="btn btn-warning" aria-hidden="true" routerLink ="/vehicles"> Cancel</button>
                    </div>
                  </div>
              </div>
              <swal
    #successSwal
    title="Success"
    text="Successfully Verified Vehicle"
    type="success"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
  <swal
    #failedSwal
    title="Failed"
    text="An error occured while processing your request"
    type="warning"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>


