					<!--manage vehicle-->
              <div class="content-wrapper">
                    <section class="content">
                      <app-message></app-message>
                        <div align="center" class="box">
                            <div class="box-header">
                              <br>
                              <h3 class="box-title"><b>Vehicle VRN: <strong>{{vehicleVRN}}</strong></b></h3>
                        </div>
                        <br>
                        <hr>
              <div class="box-body"> 
                  <div class="row">
                  <div class="form-group col-md-4">
                    <label>Vehicle Make</label>
                    <input class="form-control" type="text" id="vMake" [(ngModel)]="vMake" name="vMake" placeholder="Vehicle make" required>
                    </div>
                  <div class="form-group col-md-4">
                    <label>Vehicle Model</label>
                    <input class="form-control" type="text" id="vModel" [(ngModel)]="vModel" name="vModel" placeholder="Vehicle model" required>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Vehicle Type</label>
                    <select class="form-control" id="vType" [(ngModel)]="vType" name="vType"required>
                      <option selected  style="display: none;" >choose type</option>

                      <option value="Private">Private </option>
                      <option value="Commercial">Commercial</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                    <label>Vehicle Usage</label>
                    <select class="form-control" id="vUsage" [(ngModel)]="vUsage" name="vUsage" required>
                      <option selected  style="display: none;" >choose usage</option>

                      <option value="Private">Private</option>
                      <option value="Commercial">Commercial</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                    <label>ZINARA Licence Expiry</label>
                    <input class="form-control" type="date" required id="InsExp" [(ngModel)]="InsExp" name="InsExp">
                    </div>
                    <div class="form-group col-md-4">
                    <label>Licencing Tax Class</label>
                    <select [(ngModel)]="selectedValue" class="form-control" name="TaxClass" required>
                        <option *ngFor="let TaxClass of licTaxClasses" [value]="TaxClass.taxClassId">{{TaxClass.taxClassDescription}}</option>
                      </select>
                    </div>  
                    <div class="form-group col-md-4" >
                    <label>Insurance Tax Class</label>
                    <select [(ngModel)]="selectedTaxClass" class="form-control" name="selectedTaxClass" required>
                        <option *ngFor="let insTaxClass of insTaxClasses"[value]="insTaxClass.taxClassId">{{insTaxClass.taxClassDescription}}</option>
                      </select>
                    </div> 
                    <br>
                    <div class="form-group col-md-4">
                      <label>ZBC Tax Class</label>
                      <select [(ngModel)]="ZBCTaxClass" class="form-control" name="ZBCTaxClass" required>
                        <option selected  style="display: none;" >choose usage</option>

                        <option value="Private">Private</option>
                        <option value="Commercial">Commercial</option>
                        </select>
                      </div> 
                    <div class="form-group col-md-4">
                        <label>Vehicle Ownership</label>
                        <select class="form-control" id="vOwnership" [(ngModel)]="vOwnership" name="vOwnership" required>
                          <option selected  style="display: none;" >choose usage</option>
    
                          <option value="Private">Private</option>
                          <option value="Commercial">Business</option>
                        </select>
                        </div>
                        <div class="form-group col-md-4"> 
                          <label>ZINARA Arrears</label>
                          <input class="form-control" type="number" id="ZinArreas" [(ngModel)]="ZinArreas" name="ZinArreas" placeholder="Licencing areas" required>
                          </div>
                      </div>
                  <div class="row">
                  <div class="box-footer"  align="center">
                  <button style="align-content: space-between" name="VerifyVehicleBtn" class="btn btn-primary" (click)="saveVehicle()">Verify & Update</button>
                  <button class="btn btn-warning" aria-hidden="true" routerLink ="/vehicles"> Cancel</button>
                    </div>
                  </div>
                  <app-loading *ngIf="isClicked"></app-loading>
              </div>
  <swal
    #successSwal
    title="Success"
    text="Successfully Verified Vehicle"
    type="success"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
  <swal
    #failedSwal
    title="Failed"
    text="An error occured while processing your request"
    type="warning"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
  <swal
  #verifiedSwal
  title="Failed"
  text="Vehicle already verified"
  type="warning"
  [showCancelButton]="false"
  [focusCancel]="false">
</swal>


