<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <hr>
    <section class="content-header"align="center">
      <h1><b>iDriveSure</b>      
        <small>Control panel</small>
      </h1>
    </section>
  <hr> 
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.</h3>
  
              <p>Transactions</p>
            </div>
            <div class="icon">
              <i class="ion-ios-folder"></i>
            </div>
            <a class="small-box-footer"routerLink = "/supervisor/transactionReports">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.<sup style="font-size: 20px"></sup></h3>
  
              <p>Insurance</p>
            </div>
            <div class="icon">
              <i class="ion-umbrella"></i>
            </div>
            <a class="small-box-footer"routerLink = "/supervisor/insuranceReports" >More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.</h3>
  
              <p>ZBC</p>
            </div>
            <div class="icon">
              <i class="	
              ion-radio-waves"></i>
              
            </div>
            <a routerLink = "/supervisor/zbcReports" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>.</h3>
  
              <p>Zinara</p>
            </div>
            <div class="icon">
              <i class="ion-android-car"></i>
            </div>
            <a routerLink = "/supervisor/zinaraReports" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
  
    </section>
    <!-- /.content -->
  </div>
  