<div class="content-wrapper"><br><br>
    <section class="input-group col-md-offset-1 col-md-10">
    <div class="box col-md-4" >
    <div align="center" class="box-header with-border">
      <h3 class="box-title"><b>Register For iDriveSure</b></h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
      <div class="box-body">
          <div class="row">
        <div class="input-group col-md-offset-1 col-md-10">
          <label for="firstName">First Name</label>&nbsp;<font color = "red">*</font>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="firstname" placeholder="First Name" required>
        </div>
        <div class="input-group col-md-offset-1 col-md-10">
          <label for="surname">Surname</label>&nbsp;<font color = "red">*</font>
          <input type="text" class="form-control" id="surname" [(ngModel)]="surname" placeholder="Last Name"required>
        </div>
        <div class="input-group col-md-offset-1 col-md-10">
          <label for="nationalId">NationalId</label>&nbsp;<font color = "red">*</font>
          <input type="text" class="form-control" id="nationalId" [(ngModel)]="nationalID" placeholder="..eg 25538954Y12" required>
        </div>
        <div class="input-group col-md-offset-1 col-md-10">
          <label for="phoneNumber">Phone Number</label>&nbsp;<font color = "red">*</font>
          <input type="text" class="form-control" id="phoneNumber" [(ngModel)]= "phoneNumber" placeholder="Phone" required>
        </div>
        <div class="input-group col-md-offset-1 col-md-10">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email">
        </div>
        <div class="input-group col-md-offset-1 col-md-10">
            <label for="address"> Street Address</label>&nbsp;<font color = "red">*</font>
            <input type="text" class="form-control" id="address" [(ngModel)]="address" placeholder="Enter address"required>
          </div> 
        <div class="input-group col-md-offset-1 col-md-10">
          <label for="password">Password</label>&nbsp;<font color = "red">*</font>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="Password"required>
        </div>      
        <div class="input-group col-md-offset-1 col-md-10">
            <label for="password">Re-enter Password</label>&nbsp;<font color = "red">*</font>
            <input type="password" class="form-control" id="confirmpassword" [(ngModel)]="confirmpassword" placeholder="Re-enter Password"required>
        </div>
        <br><br>
        <div class="input-group col-md-offset-1 col-md-10" ><font color = "red"> * Required Fields</font></div>

      </div>
      </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer" align="center">
        <button (click)="postProfile()" type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-warning" aria-hidden="true" routerLink ="/login"> Cancel</button>
      </div>
    </section>
    <swal
    #successSwal
    title="Success"
    text="Registration Successful, Please Login"
    type="success"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>
  <swal
    #failedSwal
    title="Failed"
    text="An error occured while processing your request"
    type="warning"
    [showCancelButton]="false"
    [focusCancel]="false">
  </swal>

 <script>
   $(document).ready(function() {
    $('.formselect').select2();
});
 </script>