<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section align="center" class="content-header">
      <h1>
        <strong>Zinara Pricing Scheme Management</strong>
      </h1>
  
    </section>
    <p>&nbsp;<button align="left" class="btn btn-warning" routerLink ="/PricingScheme">Back to Pricing Scheme Management</button></p> 
    <hr>
    <!-- Main content -->
    <section class="content">
  
  <!--Mailbox Div-->
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        <button type="button" name="addZinPricing" id="addZinPricing" class="btn btn-primary btn-block margin-bottom" routerLink="/AddZinaraPricingScheme">Add Zinara Pricing Scheme</button>
      </form>
  
    </div>
  </div>
  <div class="box">

      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover" id="" cellspacing="0">
          <thead>
          <tr>  
            <th>Tax Class ID</th>
            <th>Tax Class Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taxclass of taxclasses">
            <td>{{taxclass.taxClassId}}</td>
            <td>{{taxclass.taxClassDescription}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </section>
  
  
  </div>
  
  
  