<div class="content-wrapper">
    <section  class="content-header">
        <h1 align="center">
          <strong>Get iDriveSure Quotation</strong>
        </h1>
      </section>
  <div class="row">
      <div class="col-md-5">
      </div> 
          <div class="panel panel-info">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2 col-lg-2"> </div>
      
                <div class=" col-md-9 col-lg-9 "> 

                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Insurance Company:</td>
                        <td>{{insuranceCompany}}</td> 
                      </tr>
                      <tr>
                          <td>Insurance Type:</td>
                          <td>{{insuranceType}}</td> 
                        </tr>
                      <tr>
                        <td>Insurance Premium</td>
                        <td>${{insurancePremium | currency}} </td>
                      </tr>
                   
                      <tr>
                        <td>Zinara Premium</td>
                        <td>${{zinaraPremium | currency}}</td>
                      </tr>
                      <tr>
                        <td>ZBC Premium</td>
                        <td>{{zbcPremium |currency}}</td>
                      </tr>
                      <tr>
                        <td>Delivery Fee</td>
                        <td>{{deliveryFee |currency}}</td>
                      </tr>
                      <tr>
                        <td><b>Grand Total</b></td>
                        <td><b><a>{{grandTotal | currency}}</a></b></td>
                      </tr>
                      <tr>
                        <td>Start Date</td>
                        <td>{{startDate}}</td>
                      </tr> 

                      <tr>
                        <td>End Date</td>
                        <td>{{endDate}}</td>
                      </tr> 
                      <tr>
                        <td>Policy Rate</td>
                        <td>{{policyRate}}</td>
                      </tr> 
                      <tr>
                        <td>Government Levy</td>
                        <td>{{governmentLevy |currency}}</td>
                      </tr> 
                      <tr>
                        <td>Stamp Duty</td>
                        <td>{{stampDuty |currency}}</td>
                      </tr> 
                      <tr>
                        <td>Zinara Arrears</td>
                        <td>{{zinaraArrears |currency}}</td>
                      </tr> 
                    </tbody>
                  </table>             
                  <button class="btn btn-primary" (click)="makePayment()">Proceed to payment    {{grandTotal | currency}}</button>
                </div>
                <div class="col-md-2 col-lg-2"> </div>
              </div>
            </div>
                 <div class="panel-footer">
      
                    </div>
            </div>
          </div>
          
      </div>