<div class="content-wrapper">
  <hr>
  <!-- Content Header (Page header) -->
  <section  class="content-header">
    <h1 align= "center">
      <strong>Disc Management</strong>
    </h1>
 
  </section>
  <hr>
  <!-- Main content --> 
  <section class="content">

<!--Mailbox Div-->
<div class="row">
  <div class="col-md-12">
      <form method="post">
        <button type="submit" name="getMessages" id="getMessages" class="btn btn-primary btn-block margin-bottom" routerLink="/agent/ViewPrintedDiscs">View Printed Discs</button>
      </form>
    </div>
</div> <hr>
<h4 align="center">
    <strong>Transaction Print Requests</strong>
</h4>  
 
<!--general-->
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <!--<table class="table table-hover" id="monthlyTable" cellspacing="0">-->
        <table datatable class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Transaction Date</th>
            <th>Vehicle Registration Number</th>
            <th>National ID</th>
            <th>Insurance Company</th>
            <th>Insurance Type</th>
            <th>Vehicle Value</th> 
            <th>Insurance Period</th>
            <th>Zinara Period</th>
            <th>ZBC Period</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td>{{request.createdAt}}</td>
            <td>{{request.vehicleRegistrationNumber}}</td>
            <td>{{request.userId}}</td>
            <td>{{request.insuranceCompany}}</td>
            <td>{{request.insuranceType}}</td>
            <td>{{request.vehicleValue}}</td>
            <td>{{request.insurancePeriod}}</td>
            <td>{{request.zinaraPeriod}}</td> 
            <td>{{request.zbcPeriod}}</td>
            <td><button class="btn btn-primary btn-block margin-bottom" (click)=printDisk(request)>print disk</button></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </section>

</div>

<swal
#successSwal
title="Success"
text="Quotation successfully generated press ok to continue ."
type="success"
[showCancelButton]="false"
[focusCancel]="false">
</swal>
<swal
#failedSwal
title="Failed"
text="An error occured while processing your request"
type="warning"
[showCancelButton]="false"
[focusCancel]="false">
</swal>


